# Chart, templates and values

Chart.yaml @AndyInternet @inngest/maintainers
values.yaml @AndyInternet @inngest/maintainers
/templates @AndyInternet @inngest/maintainers

# CI/CD and automation

.github/ @AndyInternet @inngest/maintainers

# Documentation

README.md @AndyInternet @inngest/maintainers
CLAUDE.md @AndyInternet @inngest/maintainers
